<div class="container mb-5">
    <div class="col-md-12 text-center">
        <h1>Kelompok IO</h1>
    </div>
    <div class="text-center col-md-12 justify-content-center row">
        <div class="card mx-3">
            <img src="assets/images/brian.png" class="card-img-top" width="200px" height="300px">
            <div class="card-body bg-dark text-white">
                <div class="card-title">Brianlian</div>
                <div class="card-text">00000042565</div>    
            </div>
        </div>

        <div class="card mx-3">
            <img src="assets/images/hendy.png" class="card-img-top" width="200px" height="300px">
            <div class="card-body bg-dark text-white">
                <div class="card-title">Hendy Ferdianto Halim</div>
                <div class="card-text">00000050502</div>    
            </div>
        </div>

        <div class="card mx-3">
            <img src="assets/images/liong.png" class="card-img-top" width="200px" height="300px">
            <div class="card-body bg-dark text-white rounded-bottom">
                <div class="card-title">Steven Liong</div>
                <div class="card-text">00000042707</div>    
            </div>
        </div>
    </div>
</div>