<nav class="navbar-nav mb-3">
  <div class="pb-4 bg-dark text-white col-12">
    <h1 class="text-center">
      IO NASA Web-App
    </h1>
  </div>
  <div class="container mb-2 col-12" style="margin-top: -25px">
    <ul class="nav justify-content-center row px-3">
      <li class="nav-item bg-light m-1 col-sm-3 col-10 pelangi-hover border border-dark">
        <a class="mono nav-link  text-center text-warp font-weight-bold text-dark" routerLink="/apod">Astronomy Picture of The Day</a>
      </li>
      <li class="nav-item bg-light m-1 col-sm-3 col-10 pelangi-hover border border-dark">
        <a class="mono nav-link  text-center text-warp font-weight-bold text-dark" routerLink="/flares"> Solar Flares Records</a>
      </li>
      <li class="nav-item bg-light m-1 col-sm-3 col-10 pelangi-hover border border-dark">
        <a class="mono nav-link  text-center text-warp font-weight-bold text-dark" routerLink="/mars_rover_photo">Mars Rover's Galery</a>
      </li>
      <li class="nav-item bg-light m-1 col-sm-3 col-10 pelangi-hover border border-dark">
        <a class="mono nav-link  text-center text-warp font-weight-bold text-dark" routerLink="/nasa_news">NASA News</a>
      </li>
      <li class="nav-item bg-light m-1 col-sm-3 col-10 pelangi-hover border border-dark">
        <a class="mono nav-link  text-center text-warp font-weight-bold text-dark" routerLink="/neo">Near Earth Object</a>
      </li>
      <li class="nav-item bg-light m-1 col-sm-3 col-10 pelangi-hover border border-dark">
        <a class="mono nav-link  text-center text-warp font-weight-bold text-dark" routerLink="/aboutus">About Us</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-dark text-center text-white" style="margin-top:30px">
  <div class="container pt-3">
    <section class=" text-center">
      <p>
        Website ini dibuat untuk memenuhi kriteria penilaian UAS Mata Kuliah Introduction to Internet Technology
      </p>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Ⓒ2021 Copyright: Kelompok IO.
    <br>
    Jurusan Informatika
    <br>
    Universitas Multimedia Nusantara
  </div>
</footer>